faiss_cpu==1.8.0.post1
fastapi==0.115.6
firebase_admin==6.5.0
openai==1.59.7
pandas==2.2.3
pdfplumber==0.11.5
Pillow
protobuf
pyngrok==7.2.3
pytesseract==0.3.13
python_docx==1.1.2
Requests==2.32.3
sentence_transformers==3.0.1
uvicorn==0.34.0
PyMuPDF
python-multipart
pydantic==2.10.5